body {
  --date-picker-color-primary: #36d399;
  --date-picker-color-primary-dark: hsl(158, 64%, 40%);
  --date-picker-color-primary-disabled: #bbb;
  --date-picker-color-primary-light: hsl(158, 64%, 65%);

  --date-picker-color-foreground: #ffffff;
  --date-picker-color-background: #f4f8fb;
  --date-picker-color-border: #dfe5eb;

  --date-picker-color-text: hsl(0, 3%, 7%);
 
}
